.br-b-1px-sw {
    border-bottom: 1px solid white;
}

.br-b-2px-sw {
    border-bottom: 2px solid white;
}

.br-b-3px-sw {
    border-bottom: 3px solid white;
}

.br-b-4px-sw {
    border-bottom: 4px solid white;
}

.br-b-5px-sw {
    border-bottom: 5px solid white;
}

.br-b-6px-sw {
    border-bottom: 6px solid white;
}

.br-b-7px-sw {
    border-bottom: 7px solid white;
}

.br-b-8px-sw {
    border-bottom: 8px solid white;
}

.br-b-9px-sw {
    border-bottom: 9px solid white;
}

.br-b-10px-sw {
    border-bottom: 10px solid white;
}

.br-b-11px-sw {
    border-bottom: 11px solid white;
}

.br-b-12px-sw {
    border-bottom: 12px solid white;
}

.br-b-13px-sw {
    border-bottom: 13px solid white;
}

.br-b-14px-sw {
    border-bottom: 14px solid white;
}

.br-b-15px-sw {
    border-bottom: 15px solid white;
}

.br-b-16px-sw {
    border-bottom: 16px solid white;
}

.br-b-17px-sw {
    border-bottom: 17px solid white;
}

.br-b-18px-sw {
    border-bottom: 18px solid white;
}

.br-b-19px-sw {
    border-bottom: 19px solid white;
}

.br-b-20px-sw {
    border-bottom: 20px solid white;
}