.br-b-1px-sb {
    border-bottom: 1px solid black;
}

.br-b-2px-sb {
    border-bottom: 2px solid black;
}

.br-b-3px-sb {
    border-bottom: 3px solid black;
}

.br-b-4px-sb {
    border-bottom: 4px solid black;
}

.br-b-5px-sb {
    border-bottom: 5px solid black;
}

.br-b-6px-sb {
    border-bottom: 6px solid black;
}

.br-b-7px-sb {
    border-bottom: 7px solid black;
}

.br-b-8px-sb {
    border-bottom: 8px solid black;
}

.br-b-9px-sb {
    border-bottom: 9px solid black;
}

.br-b-10px-sb {
    border-bottom: 10px solid black;
}

.br-b-11px-sb {
    border-bottom: 11px solid black;
}

.br-b-12px-sb {
    border-bottom: 12px solid black;
}

.br-b-13px-sb {
    border-bottom: 13px solid black;
}

.br-b-14px-sb {
    border-bottom: 14px solid black;
}

.br-b-15px-sb {
    border-bottom: 15px solid black;
}

.br-b-16px-sb {
    border-bottom: 16px solid black;
}

.br-b-17px-sb {
    border-bottom: 17px solid black;
}

.br-b-18px-sb {
    border-bottom: 18px solid black;
}

.br-b-19px-sb {
    border-bottom: 19px solid black;
}

.br-b-20px-sb {
    border-bottom: 20px solid black;
}