.br-1px-sb {
    border: 1px solid black;
}

.br-2px-sb {
    border: 2px solid black;
}

.br-3px-sb {
    border: 3px solid black;
}

.br-4px-sb {
    border: 4px solid black;
}

.br-5px-sb {
    border: 5px solid black;
}

.br-6px-sb {
    border: 6px solid black;
}

.br-7px-sb {
    border: 7px solid black;
}

.br-8px-sb {
    border: 8px solid black;
}

.br-9px-sb {
    border: 9px solid black;
}

.br-10px-sb {
    border: 10px solid black;
}

.br-11px-sb {
    border: 11px solid black;
}

.br-12px-sb {
    border: 12px solid black;
}

.br-13px-sb {
    border: 13px solid black;
}

.br-14px-sb {
    border: 14px solid black;
}

.br-15px-sb {
    border: 15px solid black;
}

.br-16px-sb {
    border: 16px solid black;
}

.br-17px-sb {
    border: 17px solid black;
}

.br-18px-sb {
    border: 18px solid black;
}

.br-19px-sb {
    border: 19px solid black;
}

.br-20px-sb {
    border: 20px solid black;
}