.br-1px-sw {
    border: 1px solid white;
}

.br-2px-sw {
    border: 2px solid white;
}

.br-3px-sw {
    border: 3px solid white;
}

.br-4px-sw {
    border: 4px solid white;
}

.br-5px-sw {
    border: 5px solid white;
}

.br-6px-sw {
    border: 6px solid white;
}

.br-7px-sw {
    border: 7px solid white;
}

.br-8px-sw {
    border: 8px solid white;
}

.br-9px-sw {
    border: 9px solid white;
}

.br-10px-sw {
    border: 10px solid white;
}

.br-11px-sw {
    border: 11px solid white;
}

.br-12px-sw {
    border: 12px solid white;
}

.br-13px-sw {
    border: 13px solid white;
}

.br-14px-sw {
    border: 14px solid white;
}

.br-15px-sw {
    border: 15px solid white;
}

.br-16px-sw {
    border: 16px solid white;
}

.br-17px-sw {
    border: 17px solid white;
}

.br-18px-sw {
    border: 18px solid white;
}

.br-19px-sw {
    border: 19px solid white;
}

.br-20px-sw {
    border: 20px solid white;
}