.m-5px {
    margin: 5px;
}

.m-10px {
    margin: 10px;
}

.m-15px {
    margin: 15px;
}

.m-20px {
    margin: 20px;
}

.m-25px {
    margin: 25px;
}

.m-30px {
    margin: 30px;
}

.m-35px {
    margin: 35px;
}

.m-40px {
    margin: 40px;
}

.m-45px {
    margin: 45px;
}

.m-50px {
    margin: 50px;
}

.m-55px {
    margin: 55px;
}

.m-60px {
    margin: 60px;
}

.m-65px {
    margin: 65px;
}

.m-70px {
    margin: 70px;
}

.m-75px {
    margin: 75px;
}

.m-80px {
    margin: 80px;
}

.m-85px {
    margin: 85px;
}

.m-90px {
    margin: 90px;
}

.m-95px {
    margin: 95px;
}

.m-100px {
    margin: 100px;
}