.mb-5px {
    margin-bottom: 5px;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-15px {
    margin-bottom: 15px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-25px {
    margin-bottom: 25px;
}

.mb-30px {
    margin-bottom: 30px;
}

.mb-35px {
    margin-bottom: 35px;
}

.mb-40px {
    margin-bottom: 40px;
}

.mb-45px {
    margin-bottom: 45px;
}

.mb-50px {
    margin-bottom: 50px;
}

.mb-55px {
    margin-bottom: 55px;
}

.mb-60px {
    margin-bottom: 60px;
}

.mb-65px {
    margin-bottom: 65px;
}

.mb-70px {
    margin-bottom: 70px;
}

.mb-75px {
    margin-bottom: 75px;
}

.mb-80px {
    margin-bottom: 80px;
}

.mb-85px {
    margin-bottom: 85px;
}

.mb-90px {
    margin-bottom: 90px;
}

.mb-95px {
    margin-bottom: 95px;
}

.mb-100px {
    margin-bottom: 100px;
}