.br-l-1px-sb {
    border-left: 1px solid black;
}

.br-l-2px-sb {
    border-left: 2px solid black;
}

.br-l-3px-sb {
    border-left: 3px solid black;
}

.br-l-4px-sb {
    border-left: 4px solid black;
}

.br-l-5px-sb {
    border-left: 5px solid black;
}

.br-l-6px-sb {
    border-left: 6px solid black;
}

.br-l-7px-sb {
    border-left: 7px solid black;
}

.br-l-8px-sb {
    border-left: 8px solid black;
}

.br-l-9px-sb {
    border-left: 9px solid black;
}

.br-l-10px-sb {
    border-left: 10px solid black;
}

.br-l-11px-sb {
    border-left: 11px solid black;
}

.br-l-12px-sb {
    border-left: 12px solid black;
}

.br-l-13px-sb {
    border-left: 13px solid black;
}

.br-l-14px-sb {
    border-left: 14px solid black;
}

.br-l-15px-sb {
    border-left: 15px solid black;
}

.br-l-16px-sb {
    border-left: 16px solid black;
}

.br-l-17px-sb {
    border-left: 17px solid black;
}

.br-l-18px-sb {
    border-left: 18px solid black;
}

.br-l-19px-sb {
    border-left: 19px solid black;
}

.br-l-20px-sb {
    border-left: 20px solid black;
}