.br-l-1px-sw {
    border-left: 1px solid white;
}

.br-l-2px-sw {
    border-left: 2px solid white;
}

.br-l-3px-sw {
    border-left: 3px solid white;
}

.br-l-4px-sw {
    border-left: 4px solid white;
}

.br-l-5px-sw {
    border-left: 5px solid white;
}

.br-l-6px-sw {
    border-left: 6px solid white;
}

.br-l-7px-sw {
    border-left: 7px solid white;
}

.br-l-8px-sw {
    border-left: 8px solid white;
}

.br-l-9px-sw {
    border-left: 9px solid white;
}

.br-l-10px-sw {
    border-left: 10px solid white;
}

.br-l-11px-sw {
    border-left: 11px solid white;
}

.br-l-12px-sw {
    border-left: 12px solid white;
}

.br-l-13px-sw {
    border-left: 13px solid white;
}

.br-l-14px-sw {
    border-left: 14px solid white;
}

.br-l-15px-sw {
    border-left: 15px solid white;
}

.br-l-16px-sw {
    border-left: 16px solid white;
}

.br-l-17px-sw {
    border-left: 17px solid white;
}

.br-l-18px-sw {
    border-left: 18px solid white;
}

.br-l-19px-sw {
    border-left: 19px solid white;
}

.br-l-20px-sw {
    border-left: 20px solid white;
}