.br-r-1px-sw {
    border-right: 1px solid white;
}

.br-r-2px-sw {
    border-right: 2px solid white;
}

.br-r-3px-sw {
    border-right: 3px solid white;
}

.br-r-4px-sw {
    border-right: 4px solid white;
}

.br-r-5px-sw {
    border-right: 5px solid white;
}

.br-r-6px-sw {
    border-right: 6px solid white;
}

.br-r-7px-sw {
    border-right: 7px solid white;
}

.br-r-8px-sw {
    border-right: 8px solid white;
}

.br-r-9px-sw {
    border-right: 9px solid white;
}

.br-r-10px-sw {
    border-right: 10px solid white;
}

.br-r-11px-sw {
    border-right: 11px solid white;
}

.br-r-12px-sw {
    border-right: 12px solid white;
}

.br-r-13px-sw {
    border-right: 13px solid white;
}

.br-r-14px-sw {
    border-right: 14px solid white;
}

.br-r-15px-sw {
    border-right: 15px solid white;
}

.br-r-16px-sw {
    border-right: 16px solid white;
}

.br-r-17px-sw {
    border-right: 17px solid white;
}

.br-r-18px-sw {
    border-right: 18px solid white;
}

.br-r-19px-sw {
    border-right: 19px solid white;
}

.br-r-20px-sw {
    border-right: 20px solid white;
}