.br-r-1px-sb {
    border-right: 1px solid black;
}

.br-r-2px-sb {
    border-right: 2px solid black;
}

.br-r-3px-sb {
    border-right: 3px solid black;
}

.br-r-4px-sb {
    border-right: 4px solid black;
}

.br-r-5px-sb {
    border-right: 5px solid black;
}

.br-r-6px-sb {
    border-right: 6px solid black;
}

.br-r-7px-sb {
    border-right: 7px solid black;
}

.br-r-8px-sb {
    border-right: 8px solid black;
}

.br-r-9px-sb {
    border-right: 9px solid black;
}

.br-r-10px-sb {
    border-right: 10px solid black;
}

.br-r-11px-sb {
    border-right: 11px solid black;
}

.br-r-12px-sb {
    border-right: 12px solid black;
}

.br-r-13px-sb {
    border-right: 13px solid black;
}

.br-r-14px-sb {
    border-right: 14px solid black;
}

.br-r-15px-sb {
    border-right: 15px solid black;
}

.br-r-16px-sb {
    border-right: 16px solid black;
}

.br-r-17px-sb {
    border-right: 17px solid black;
}

.br-r-18px-sb {
    border-right: 18px solid black;
}

.br-r-19px-sb {
    border-right: 19px solid black;
}

.br-r-20px-sb {
    border-right: 20px solid black;
}