.bg-aliceblue {
    background-color: aliceblue;
}

.bg-antiquewhite {
    background-color: antiquewhite;
}

.bg-aqua {
    background-color: aqua;
}

.bg-aquamarine {
    background-color: aquamarine;
}

.bg-azure {
    background-color: azure;
}

.bg-beige {
    background-color: beige;
}

.bg-bisque {
    background-color: bisque;
}

.bg-black {
    background-color: black;
}

.bg-blanchedalmond {
    background-color: blanchedalmond;
}

.bg-blue {
    background-color: blue;
}

.bg-blueviolet {
    background-color: blueviolet;
}

.bg-brown {
    background-color: brown;
}

.bg-burlywood {
    background-color: burlywood;
}

.bg-cadetblue {
    background-color: cadetblue;
}

.bg-chartreuse {
    background-color: chartreuse;
}

.bg-chocolate {
    background-color: chocolate;
}

.bg-coral {
    background-color: coral;
}

.bg-cornflowerblue {
    background-color: cornflowerblue;
}

.bg-cornsilk {
    background-color: cornsilk;
}

.bg-crimson {
    background-color: crimson;
}

.bg-cyan {
    background-color: cyan;
}

.bg-darkblue {
    background-color: darkblue;
}

.bg-darkcyan {
    background-color: darkcyan;
}

.bg-darkgoldenrod {
    background-color: darkgoldenrod;
}

.bg-darkgray {
    background-color: darkgray;
}

.bg-darkgrey {
    background-color: darkgrey;
}

.bg-darkgreen {
    background-color: darkgreen;
}

.bg-darkkhaki {
    background-color: darkkhaki;
}

.bg-darkmagenta {
    background-color: darkmagenta;
}

.bg-darkolivegreen {
    background-color: darkolivegreen;
}

.bg-darkorange {
    background-color: darkorange;
}

.bg-darkorchid {
    background-color: darkorchid;
}

.bg-darkred {
    background-color: darkred;
}

.bg-darksalmon {
    background-color: darksalmon;
}

.bg-darkseagreen {
    background-color: darkseagreen;
}

.bg-darkslateblue {
    background-color: darkslateblue;
}

.bg-darkslategray {
    background-color: darkslategray;
}

.bg-darkslategrey {
    background-color: darkslategrey;
}

.bg-darkturquoise {
    background-color: darkturquoise;
}

.bg-darkviolet {
    background-color: darkviolet;
}

.bg-deeppink {
    background-color: deeppink;
}

.bg-deepskyblue {
    background-color: deepskyblue;
}

.bg-dimgray {
    background-color: dimgray;
}

.bg-dimgrey {
    background-color: dimgrey;
}

.bg-dodgerblue {
    background-color: dodgerblue;
}

.bg-firebrick {
    background-color: firebrick;
}

.bg-floralwhite {
    background-color: floralwhite;
}

.bg-forestgreen {
    background-color: forestgreen;
}

.bg-fuchsia {
    background-color: fuchsia;
}

.bg-gainsboro {
    background-color: gainsboro;
}

.bg-ghostwhite {
    background-color: ghostwhite;
}

.bg-gold {
    background-color: gold;
}

.bg-goldenrod {
    background-color: goldenrod;
}

.bg-gray {
    background-color: gray;
}

.bg-green {
    background-color: green;
}

.bg-honeydew {
    background-color: honeydew;
}

.bg-hotpink {
    background-color: hotpink;
}

.bg-indianred {
    background-color: indianred;
}

.bg-indigo {
    background-color: indigo;
}

.bg-ivory {
    background-color: ivory;
}

.bg-khaki {
    background-color: khaki;
}

.bg-lavender {
    background-color: lavender;
}

.bg-lavenderblush {
    background-color: lavenderblush;
}

.bg-lawngreen {
    background-color: lawngreen;
}

.bg-lemonchiffon {
    background-color: lemonchiffon;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-lightcoral {
    background-color: lightcoral;
}

.bg-lightcyan {
    background-color: lightcyan;
}

.bg-lightgoldenrodyellow {
    background-color: lightgoldenrodyellow;
}

.bg-lightgray {
    background-color: lightgray;
}

.bg-lightgrey {
    background-color: lightgrey;
}

.bg-lightgreen {
    background-color: lightgreen;
}

.bg-lightpink {
    background-color: lightpink;
}

.bg-lightsalmon {
    background-color: lightsalmon;
}

.bg-lightseagreen {
    background-color: lightseagreen;
}

.bg-lightskyblue {
    background-color: lightskyblue;
}

.bg-lightslategray {
    background-color: lightslategray;
}

.bg-lightslategrey {
    background-color: lightslategrey;
}

.bg-lightsteelblue {
    background-color: lightsteelblue;
}

.bg-lightyellow {
    background-color: lightyellow;
}

.bg-lime {
    background-color: lime;
}

.bg-limegreen {
    background-color: limegreen;
}

.bg-linen {
    background-color: linen;
}

.bg-magenta {
    background-color: magenta;
}

.bg-maroon {
    background-color: maroon;
}

.bg-mediumaquamarine {
    background-color: mediumaquamarine;
}

.bg-mediumblue {
    background-color: mediumblue;
}

.bg-mediumorchid {
    background-color: mediumorchid;
}

.bg-mediumpurple {
    background-color: mediumpurple;
}

.bg-mediumseagreen {
    background-color: mediumseagreen;
}

.bg-mediumturquoise {
    background-color: mediumturquoise;
}

.bg-mediumvioletred {
    background-color: mediumvioletred;
}

.bg-midnightblue {
    background-color: midnightblue;
}

.bg-mintcream {
    background-color: mintcream;
}

.bg-mistyrose {
    background-color: mistyrose;
}

.bg-moccasin {
    background-color: moccasin;
}

.bg-navajowhite {
    background-color: navajowhite;
}

.bg-navy {
    background-color: navy;
}

.bg-oldlace {
    background-color: oldlace;
}

.bg-olive {
    background-color: olive;
}

.bg-olivedrab {
    background-color: olivedrab;
}

.bg-orange {
    background-color: orange;
}

.bg-orangered {
    background-color: orangered;
}

.bg-orchid {
    background-color: orchid;
}

.bg-palegoldenrod {
    background-color: palegoldenrod;
}

.bg-palegreen {
    background-color: palegreen;
}

.bg-paleturquoise {
    background-color: paleturquoise;
}

.bg-palevioletred {
    background-color: palevioletred;
}

.bg-papayawhip {
    background-color: papayawhip;
}

.bg-peachpuff {
    background-color: peachpuff;
}

.bg-peru {
    background-color: peru;
}

.bg-pink {
    background-color: pink;
}

.bg-plum {
    background-color: plum;
}

.bg-powderblue {
    background-color: powderblue;
}

.bg-purple {
    background-color: purple;
}

.bg-rebeccapurple {
    background-color: rebeccapurple;
}

.bg-red {
    background-color: red;
}

.bg-rosybrown {
    background-color: rosybrown;
}

.bg-royalblue {
    background-color: royalblue;
}

.bg-saddlebrown {
    background-color: saddlebrown;
}

.bg-salmon {
    background-color: salmon;
}

.bg-sandybrown {
    background-color: sandybrown;
}

.bg-seagreen {
    background-color: seagreen;
}

.bg-seashell {
    background-color: seashell;
}

.bg-sienna {
    background-color: sienna;
}

.bg-silver {
    background-color: silver;
}

.bg-skyblue {
    background-color: skyblue;
}

.bg-slateblue {
    background-color: slateblue;
}

.bg-slategray {
    background-color: slategray;
}

.bg-slategrey {
    background-color: slategrey;
}

.bg-snow {
    background-color: snow;
}

.bg-springgreen {
    background-color: springgreen;
}

.bg-steelblue {
    background-color: steelblue;
}

.bg-tan {
    background-color: tan;
}

.bg-teal {
    background-color: teal;
}

.bg-thistle {
    background-color: thistle;
}

.bg-tomato {
    background-color: tomato;
}

.bg-turquoise {
    background-color: turquoise;
}

.bg-violet {
    background-color: violet;
}

.bg-white {
    background-color: white;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.bg-yellow {
    background-color: yellow;
}