.br1px-sw {
    border-top: 1px solid white;
}

.br2px-sw {
    border-top: 2px solid white;
}

.br3px-sw {
    border-top: 3px solid white;
}

.br4px-sw {
    border-top: 4px solid white;
}

.br5px-sw {
    border-top: 5px solid white;
}

.br6px-sw {
    border-top: 6px solid white;
}

.br7px-sw {
    border-top: 7px solid white;
}

.br8px-sw {
    border-top: 8px solid white;
}

.br9px-sw {
    border-top: 9px solid white;
}

.br10px-sw {
    border-top: 10px solid white;
}

.br11px-sw {
    border-top: 11px solid white;
}

.br12px-sw {
    border-top: 12px solid white;
}

.br13px-sw {
    border-top: 13px solid white;
}

.br14px-sw {
    border-top: 14px solid white;
}

.br15px-sw {
    border-top: 15px solid white;
}

.br16px-sw {
    border-top: 16px solid white;
}

.br17px-sw {
    border-top: 17px solid white;
}

.br18px-sw {
    border-top: 18px solid white;
}

.br19px-sw {
    border-top: 19px solid white;
}

.br20px-sw {
    border-top: 20px solid white;
}