.br1px-sb {
    border-top: 1px solid black;
}

.br2px-sb {
    border-top: 2px solid black;
}

.br3px-sb {
    border-top: 3px solid black;
}

.br4px-sb {
    border-top: 4px solid black;
}

.br5px-sb {
    border-top: 5px solid black;
}

.br6px-sb {
    border-top: 6px solid black;
}

.br7px-sb {
    border-top: 7px solid black;
}

.br8px-sb {
    border-top: 8px solid black;
}

.br9px-sb {
    border-top: 9px solid black;
}

.br10px-sb {
    border-top: 10px solid black;
}

.br11px-sb {
    border-top: 11px solid black;
}

.br12px-sb {
    border-top: 12px solid black;
}

.br13px-sb {
    border-top: 13px solid black;
}

.br14px-sb {
    border-top: 14px solid black;
}

.br15px-sb {
    border-top: 15px solid black;
}

.br16px-sb {
    border-top: 16px solid black;
}

.br17px-sb {
    border-top: 17px solid black;
}

.br18px-sb {
    border-top: 18px solid black;
}

.br19px-sb {
    border-top: 19px solid black;
}

.br20px-sb {
    border-top: 20px solid black;
}