.br-tl-5px {
    border-top-left-radius: 5px
}

.br-tl-10px {
    border-top-left-radius: 10px
}

.br-tl-15px {
    border-top-left-radius: 15px
}

.br-tl-20px {
    border-top-left-radius: 20px
}

.br-tl-25px {
    border-top-left-radius: 25px
}

.br-tl-30px {
    border-top-left-radius: 30px
}

.br-tl-35px {
    border-top-left-radius: 35px
}

.br-tl-40px {
    border-top-left-radius: 40px
}

.br-tl-45px {
    border-top-left-radius: 45px
}

.br-tl-50px {
    border-top-left-radius: 50px
}

.br-tl-55px {
    border-top-left-radius: 55px
}

.br-tl-60px {
    border-top-left-radius: 60px
}

.br-tl-65px {
    border-top-left-radius: 65px
}

.br-tl-70px {
    border-top-left-radius: 70px
}

.br-tl-75px {
    border-top-left-radius: 75px
}

.br-tl-80px {
    border-top-left-radius: 80px
}

.br-tl-85px {
    border-top-left-radius: 85px
}

.br-tl-90px {
    border-top-left-radius: 90px
}

.br-tl-95px {
    border-top-left-radius: 95px
}

.br-tl-100px {
    border-top-left-radius: 100px
}