.br-br-5px {
    border-bottom-right-radius: 5px
}

.br-br-10px {
    border-bottom-right-radius: 10px
}

.br-br-15px {
    border-bottom-right-radius: 15px
}

.br-br-20px {
    border-bottom-right-radius: 20px
}

.br-br-25px {
    border-bottom-right-radius: 25px
}

.br-br-30px {
    border-bottom-right-radius: 30px
}

.br-br-35px {
    border-bottom-right-radius: 35px
}

.br-br-40px {
    border-bottom-right-radius: 40px
}

.br-br-45px {
    border-bottom-right-radius: 45px
}

.br-br-50px {
    border-bottom-right-radius: 50px
}

.br-br-55px {
    border-bottom-right-radius: 55px
}

.br-br-60px {
    border-bottom-right-radius: 60px
}

.br-br-65px {
    border-bottom-right-radius: 65px
}

.br-br-70px {
    border-bottom-right-radius: 70px
}

.br-br-75px {
    border-bottom-right-radius: 75px
}

.br-br-80px {
    border-bottom-right-radius: 80px
}

.br-br-85px {
    border-bottom-right-radius: 85px
}

.br-br-90px {
    border-bottom-right-radius: 90px
}

.br-br-95px {
    border-bottom-right-radius: 95px
}

.br-br-100px {
    border-bottom-right-radius: 100px
}