.br-bl-5px {
    border-bottom-left-radius: 5px
}

.br-bl-10px {
    border-bottom-left-radius: 10px
}

.br-bl-15px {
    border-bottom-left-radius: 15px
}

.br-bl-20px {
    border-bottom-left-radius: 20px
}

.br-bl-25px {
    border-bottom-left-radius: 25px
}

.br-bl-30px {
    border-bottom-left-radius: 30px
}

.br-bl-35px {
    border-bottom-left-radius: 35px
}

.br-bl-40px {
    border-bottom-left-radius: 40px
}

.br-bl-45px {
    border-bottom-left-radius: 45px
}

.br-bl-50px {
    border-bottom-left-radius: 50px
}

.br-bl-55px {
    border-bottom-left-radius: 55px
}

.br-bl-60px {
    border-bottom-left-radius: 60px
}

.br-bl-65px {
    border-bottom-left-radius: 65px
}

.br-bl-70px {
    border-bottom-left-radius: 70px
}

.br-bl-75px {
    border-bottom-left-radius: 75px
}

.br-bl-80px {
    border-bottom-left-radius: 80px
}

.br-bl-85px {
    border-bottom-left-radius: 85px
}

.br-bl-90px {
    border-bottom-left-radius: 90px
}

.br-bl-95px {
    border-bottom-left-radius: 95px
}

.br-bl-100px {
    border-bottom-left-radius: 100px
}