.brr-5px {
    border-radius: 5px
}

.brr-10px {
    border-radius: 10px
}

.brr-15px {
    border-radius: 15px
}

.brr-20px {
    border-radius: 20px
}

.brr-25px {
    border-radius: 25px
}

.brr-30px {
    border-radius: 30px
}

.brr-35px {
    border-radius: 35px
}

.brr-40px {
    border-radius: 40px
}

.brr-45px {
    border-radius: 45px
}

.brr-50px {
    border-radius: 50px
}

.brr-55px {
    border-radius: 55px
}

.brr-60px {
    border-radius: 60px
}

.brr-65px {
    border-radius: 65px
}

.brr-70px {
    border-radius: 70px
}

.brr-75px {
    border-radius: 75px
}

.brr-80px {
    border-radius: 80px
}

.brr-85px {
    border-radius: 85px
}

.brr-90px {
    border-radius: 90px
}

.brr-95px {
    border-radius: 95px
}

.brr-100px {
    border-radius: 100px
}