.pt-5px {
    padding-top: 5px;
}

.pt-10px {
    padding-top: 10px;
}

.pt-15px {
    padding-top: 15px;
}

.pt-20px {
    padding-top: 20px;
}

.pt-25px {
    padding-top: 25px;
}

.pt-30px {
    padding-top: 30px;
}

.pt-35px {
    padding-top: 35px;
}

.pt-40px {
    padding-top: 40px;
}

.pt-45px {
    padding-top: 45px;
}

.pt-50px {
    padding-top: 50px;
}

.pt-55px {
    padding-top: 55px;
}

.pt-60px {
    padding-top: 60px;
}

.pt-65px {
    padding-top: 65px;
}

.pt-70px {
    padding-top: 70px;
}

.pt-75px {
    padding-top: 75px;
}

.pt-80px {
    padding-top: 80px;
}

.pt-85px {
    padding-top: 85px;
}

.pt-90px {
    padding-top: 90px;
}

.pt-95px {
    padding-top: 95px;
}

.pt-100px {
    padding-top: 100px;
}