.pr-5px {
    padding-right: 5px;
}

.pr-10px {
    padding-right: 10px;
}

.pr-15px {
    padding-right: 15px;
}

.pr-20px {
    padding-right: 20px;
}

.pr-25px {
    padding-right: 25px;
}

.pr-30px {
    padding-right: 30px;
}

.pr-35px {
    padding-right: 35px;
}

.pr-40px {
    padding-right: 40px;
}

.pr-45px {
    padding-right: 45px;
}

.pr-50px {
    padding-right: 50px;
}

.pr-55px {
    padding-right: 55px;
}

.pr-60px {
    padding-right: 60px;
}

.pr-65px {
    padding-right: 65px;
}

.pr-70px {
    padding-right: 70px;
}

.pr-75px {
    padding-right: 75px;
}

.pr-80px {
    padding-right: 80px;
}

.pr-85px {
    padding-right: 85px;
}

.pr-90px {
    padding-right: 90px;
}

.pr-95px {
    padding-right: 95px;
}

.pr-100px {
    padding-right: 100px;
}